
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transition-property: all;
  // background: radial-gradient(ellipse at top, var(--bg), var(--c0)),
  //             radial-gradient(ellipse at bottom, var(--oo), var(--bg));
}

.message {
  width: 45%;
  height: 25%;
  padding: 2rem;
  // max-width: 75vw;
  background-color: rgb(245, 245, 245);
  border-radius: 2em;
  box-shadow: 0 0 0 0.25rem gray, 0 0.25rem 0.25rem 0.25rem gray;
  // color: var(--fg);
  filter: brightness(70%);
  font-family: system-ui, monospace;
  opacity: 0.8;
  outline-color: gray;
  outline-style: solid;
  outline-width: 0.25rem;
  padding: 2em;
  text-decoration: none;
  transition-duration: 0.4s;
  transition-property: all;

  &:hover {
    filter: brightness(100%) drop-shadow(0 0 4em black);
    opacity: 1;

    & span {
      filter: hue-rotate(180deg);
    }

  }
  // h3 {
  //   color: black !important;
  // }
  &>h3 {
    // color: black;
    font-size: 2em;
    font-style: italic;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;

    &~p:first-of-type {
      padding-top: 1em;
    }
  }

  &>h4 {
    color: var(--c2);
    font-size: 2em;
    font-family: monospace;
  }

  &>p {

    &>span>em {
      color: var(--c3);
      font-size: 18px;
      font-weight: bold;
    }

  }

}

.message:nth-child(2)>h3 {
  color: var(--c1);
}
