.message {
  max-width: 75vw;
  background-color: var(--oo);
  border-radius: 2em;
  box-shadow: 0 0 0 2em var(--oo), 0 1em 3em 3em var(--bg);
  color: var(--fg);
  filter: brightness(70%);
  font-family: system-ui, monospace;
  opacity: 0.8;
  outline-color: var(--oo);
  outline-style: solid;
  outline-width: 1em;
  padding: 2em;
  text-decoration: none;
  transition-duration: 0.4s;
  transition-property: all;

  &:hover {
    filter: brightness(100%) drop-shadow(0 0 4em var(--c5));
    opacity: 1;

    & span {
      filter: hue-rotate(180deg);
    }

  }

  &>h3 {
    color: var(--xg);
    font-size: 2em;
    font-style: italic;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;

    &~p:first-of-type {
      padding-top: 1em;
    }
  }

  &>h4 {
    color: var(--c2);
    font-size: 2em;
    font-family: monospace;
  }

  &>p {

    &>span>em {
      color: var(--c3);
      font-size: 18px;
      font-weight: bold;
    }

  }

}

.message:nth-child(2)>h3 {
  color: var(--c1);
}
