// colors (not all used)
$ivory: #fffff0;
$ghostwhite: #f8f8ff;
$whitesmoke: #f5f5f5;

// Gray-scale colors
$darkgray: #333333;
$gray: #5d5d5d;
$lightgray: #999999;
// Basic colors
$green: #c2e15f;
$orange: #fda333;
$purple: #d3a4f9;
$red: #fb4485;
$blue: #6ce0f1;
// Awesome colors
$awesome-emerald: #00a388;
$awesome-skyblue: #0395de;
$awesome-red: #dc3522;
$awesome-pink: #ef4089;
$awesome-orange: #ff6138;
$awesome-nephritis: #27ae60;
$awesome-concrete: #95a5a6;
$awesome-dark-night: #131a28;
$awesome: $awesome-red;

// Text colors
$dark-text: #414141;
$text: $darkgray;
$gray-text: $gray;
$light-text: $lightgray;

// shadow :P
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// a4 properties
$A4_actual_height: 297mm;
$A4_height: 100%;
$A4_width: 210mm;

// fonts
// add fallbacks
$headerFont: Roboto;
$bodyFont: Source Sans Pro;
// sizes
$h1: 2.68em;
$h2: 1.8em;
$h3: 1.1em;
$h4: 0.75em;
$xxl: 0.8em;
$xl: 0.8em;
$lg: 0.8em;
$md: 0.8em;
$sm: 0.8em;
$xs: 0.8em;

// font-colors
$title: $text; // might not need rest
$h1-color: $text;
$h2-color: $text;
$h3-color: $text;
$h4-color: $text;
$default: $dark-text;

// @mixin h1 {
//   font-family: $headerFont;
//   font-size: $h1;
//   color: $title;
// }

.A4 {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 7.62mm;
  width: $A4_width;
  //height: 297mm;
  height: $A4_height;
  background: white;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

.resume_page {
  padding-top: 5rem;
  font-size: $md;
  background: $whitesmoke;
  min-height: 100vh;
  min-width: 100vw;
}

.resume {
  font-family: $bodyFont;
  color: $dark-text;
  // heading section
  h1 {
    font-family: $headerFont;
    font-size: $h1;
    color: $title;
  }
  h2 {
    font-family: $headerFont;
    font-size: 1.8em;
    color: $title;
  }
  h3 {
    font-family: $headerFont;
    font-size: $h3;
    color: $text;
    display: inline;
  }
  h4 {
    font-family: $headerFont;
    font-size: $h4;
    text-transform: uppercase;
  }
  // p {

  // }
  ul {
    line-height: 1.5;
    font-size: $sm;
  }
  h2[class="section-title"] {
    overflow: hidden;
    text-align: left;
  }
  h2[class="section-title"]:after {
    background-color: $title;
    content: "";
    display: inline-block;
    height: 0px;
    position: relative;
    vertical-align: left;
    width: 100%;
  }
  h2[class="section-title"]:after {
    background-color: $title;
    left: 0em;
    height: 2px;
    margin-right: -50%;
  }
  p[class="date"] {
    font-style: italic;
    padding-top: 0.125em;
    vertical-align: bottom;
    float: right;
    font-size: 0.75em;
  }
  span[class="date"] {
    font-style: italic;
    padding-top: 0.125em;
    vertical-align: bottom;
    float: right;
    font-size: $xs;
  }
  p[class="keywords"] {
    font-size: $sm;
    color: $light-text;
  }
  a[class="plain-link"] {
    text-decoration: none;
    color: $text;
  }
  header {
    text-align: center;
    span[class="first-name"] {
      font-weight: 100;
      color: $title;
    }
    span[class="last-name"] {
      font-weight: 900;
      color: $title;
    }
    p[class="position"] {
      font-family: $bodyFont;
      font-size: $sm;
    }
    p[class="location"] {
      font-family: $bodyFont;
      color: $light-text;
      font-size: $md;
    }
    span[class="contact-details"] {
      vertical-align: middle;
      padding: 0.5em;
      margin: auto;
      justify-content: center;
      align-content: center;
      color: $text;
    }
    span[class="contact"] {
      vertical-align: middle;
      padding: 0.25em;
      // margin: 0 0.25em;
      font-size: $md;
      color: $text;
    }
    p[class="summary"] {
      text-align: left;
    }
  }
  // section[class="skills"] {
  // }
  section[class="education"] {
    span[class="area"] {
      color: $light-text;
      font-weight: normal;
    }
  }
  section[class="work"] {
    span[class="work-description"] {
      font-weight: normal;
      color: $light-text;
    }
  }
  // section[class="projects"] {
  // }
  // section[class="awards"] {
  // }
  // section[class="publications"] {
  // }
  // section[class="volunteer"] {
  // }
  // section[class="languages"] {
  // }
  section[class="interests"] {
    span[class="keywords"] {
      font-weight: normal;
    }
  }
  section[class="references"] {
    p[class="area-of-study"] {
      display: inline-block;
    }
  }
}
